* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.circle-logo {
    position: absolute;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    left: 4rem;
    top: 5rem;
    background-image: url(../pag-log/img/Logo\ base.PNG);
    background-color: white;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px red;
    cursor: pointer;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
}
.circle-logo:hover {
    box-shadow: 0 6px 12px red;
    transform: scale(1.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
/* CONTAINER */
.container {
  position: relative;
  width: 800px;
  height: 450px;
  background: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,.25);
}

/* FORMULÁRIOS */
.form-container {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s ease-in-out;
}

.form-container form {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
}

.form-container button {
  margin-top: 15px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: red;
  color: #fff;
  cursor: pointer;
}

/* LOGIN */
.sign-in {
  left: 0;
  z-index: 2;
}

/* CADASTRO */
.sign-up {
  left: 0;
  opacity: 0;
  z-index: 1;
}

/* PAINEL */
.toggle-container {
  position: absolute;
  left: 50%;
  transform: none;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  z-index: 100;
}

.toggle {
  position: relative;
  width: 200%;
  height: 100%;
  left: -100%;
  display: flex;
  transition: 0.6s ease-in-out;
  background: linear-gradient(155deg, #0f766e, #e11d48);
}

/* PAINÉIS */
.toggle-panel {
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-panel button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
}

/* ANIMAÇÃO */
.container.active .sign-in {
  transform: translateX(100%);
  opacity: 0;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

.container.active .toggle-container {
  transform: translateX(-100%);
}

.container.active .toggle {
  transform: translateX(50%);
}

