html, body {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgb(229, 223, 223);

}
.img-post {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 25rem;
    object-fit: cover;
    z-index: 1;
}